.textField {
  background-color: #D9D9D9;
  border-radius: 15px;
  width: 480px;
  margin-bottom: 2rem;
}
.textFieldDisabled {
  background-color: #979797;
  border-radius: 15px;
  width: 480px;
  margin-bottom: 2rem;
}
