.containerCenter{
  width: 90%;
  max-width: 972px;
  margin: 0 auto;
}

.titulo{
  color: #fff;
  padding-bottom: 2rem;
  font-size: 64px;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}