.headerContainer {
  height: 10rem;
}
.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 3rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerTitle {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 5rem;
}
.menuNav {
  display: flex;
  color: white;
  align-items: center;
  a {
    padding: 0 1rem;
    display: inline-block;
    position: relative;
    flex: 1;
    transition: color 0.3s;
    &:hover {
      color: var(--green-700);
    }
  }
  button {
    transition: transform 0.8s;
    &:hover {
      transform: scale(1.2);
    }
  }
}