.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container h1 {
  text-align: center;
}
.title {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 3rem;
}
.group {
  padding-bottom: 2rem;
  padding-top: 2rem;
  flex-direction: column;
  align-self: center;
}
.fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-items: center;
  padding-inline: 3rem;
}
.button {
  width: 170px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 3rem;
  transition: background 0.3s;
}
.textField {
  background-color: #D9D9D9;
  border-radius: 15px;
  width: 480px;
  margin-bottom: 2rem;
}
